@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --console-color: #00ff00;
    --console-bg: #000000;
    --nconsole-bg: #ffffff;
    --theme: #151515;

    --sb-thumb-color: #353535;
    --sb-size: 4px;
}

* {
    z-index: 0;
    left: 0; top: 0;
    font-family: Pixelify Sans;
}

body {
    background-color: var(--theme);
    transition: all 0.5s;
}

.console {
    z-index: 0;
    background-color: var(--console-bg);
    position: relative;
    height: 70%; width: 85%;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    transition: all 0.5s;
    /* border: 2px solid white; */
}

.console-separator {
    position: absolute;
    height: 2px; width: 96%;
    left: 50%; top: 85%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2px;
    background-color: var(--console-color);
}

.console-input {
    position: absolute;
    height: 8%; width: 96%;
    left: 50%; top: 92%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--console-bg); color: var(--console-color);
    border: none;
    font-size: 20px;
    transition: all 0.5s;
}

.console-input:focus {
    outline: none;
}

.text-tab {
    position: absolute;
    font-size: 1.5rem;
    color: var(--nconsole-bg);
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.console-area {
    background-color: var(--console-bg);
    position: absolute;
    height: 65%; width: 96%;
    left: 50%; top: 45.5%;
    transform: translateX(-50%) translateY(-50%);
    overflow-y: auto;
    white-space: pre-wrap;
    transition: all 0.5s;
}

.console-area p {
    color: var(--console-color);   
}

.console-area::-webkit-scrollbar {
    width: var(--sb-size);
}
  
.console-area::-webkit-scrollbar-track {
    background: var(--console-bg);
    border-radius: 15px;
}
  
.console-area::-webkit-scrollbar-thumb {
    background: var(--console-color);
    border-radius: 15px;
}
  
  @supports not selector(::-webkit-scrollbar) {
    .console-area {
        scrollbar-color: var(--console-color)
                         var(--console-bg);
    }
}



/*  */



.hidden {
    display: none;
}

.game-container {
    flex-direction: column;
    width: 500px; height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.game-tab {
    background-color: var(--console-bg);
    padding: 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-icon {
    width: 20px; height: 20px;
}

.game-title {
    color: var(--nconsole-bg);
    font-family: Raleway;
    font-size: 15px;
}

.game-info {
    display: flex;
    gap: 10px;
}

#game-size, #game-close {
    width: 30px; height: 30px;
    line-height: 0;
    padding: 0;
    font-size: 20px;
    border-radius: 50%; border: none;
    background-color: var(--console-bg); color: var(--nconsole-bg);
    transition: color 0.5s;
}

#game-btn {
    display: flex;
    gap: 10px;
}

#game-size:hover {
    color: blue;
    text-shadow: 0 0 15px rgb(0, 110, 255);
}

#game-close:hover {
    color: red;
    text-shadow: 0 0 15px rgb(255, 123, 0);
}

/* */

.game {
    width: 100%; height: calc(100% - 50px);
    background-color: var(--nconsole-bg);
    padding: 0;
    position: relative;
}

.player, .platform {
    bottom: 0; left: 0;
}

#player {
    position: absolute;
    width: 30px; height: 30px;
    background-color: red;
    top: 90%; left: 50px;
}

.platform {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: brown;
}

/* */

.full {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: 100;
    /* display: flex;
    flex-direction: column; */
    transition: all 0.3s ease;
}

.nfull {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px; height: 400px;
    transition: all 0.3s ease;
}
